.CurrentDescription {
  display: flex;
  justify-content: space-around;
  margin-top: 58px;
  align-items: center;
}

.WeatherTemp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MainWeatherIcon {
  width: 190px;
}

.DegreeContainer {
  display: flex;
  justify-content: space-between;
}

.CurrentDegree {
  font-size: 70px;
}

.DegreeSymbol {
  font-size: 50px;
  margin-left: 4px;
  margin-top: 10px;
}

.ResponsiveCity {
  display: none;
}

.Description {
  display: none;
}

@media (max-width: 670px) {
  .CurrentDescription {
    flex-direction: column;
  }

  .ResponsiveCity {
    display: block;
  }

  .CityName,
  .LocalTime,
  .CurrentDay {
    display: none;
  }

  .MainWeatherIcon {
    width: 146px;
  }

  .CityHumidity,
  .CityWind {
    color: #353535;
  }

  .Description {
    display: block;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.6;
  }
}
