html,
body {
  height: 100%;
}
.Weather {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Weather main {
  flex: 1;
}

.Weather footer {
  padding: 10px 0;
}

.Weather img {
  width: 170px;
  display: block;
  margin: 30px 0 35px 22px;
}

.Weather .SearchBar {
  width: 300px;
  padding: 7px 7px 7px 15px;
  border-radius: 15px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Weather .SearchButton {
  padding: 7px 15px 7px 15px;
  margin-left: 5px;
  border-radius: 15px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

p {
  font-size: 15px;
}
