html,
body {
  height: 100%;
}

.Weather {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.WeatherContainer {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  padding: 20px;
  margin: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.WeatherContainer main {
  flex: 1;
}

.WeatherContainer footer {
  padding: 10px 0;
}

.HeaderLogo {
  width: 170px;
  display: block;
}

.WeatherContainer form {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.WeatherContainer .SearchBar {
  max-width: 595px;
  width: 100%;
  height: 45px;
  padding: 7px 7px 7px 20px;
  border-radius: 5px;
  font-size: 22px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  outline: none;
}

.WeatherContainer .SearchButton {
  padding: 7px 15px 7px 15px;
  max-width: 120px;
  width: 100%;
  height: 45px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

p {
  font-size: 16px;
  color: gray;
  font-weight: 700;
}

.WeatherContainer h3 {
  font-size: 38px;
  text-align: left;
}

.WeatherContainer .Container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
}

.Forcast {
  display: flex;
  justify-content: space-around;
  margin-top: 170px;
}

.WeatherContainer .CurrentIcon {
  font-size: 70px;
}

.MaritzaFooter {
  margin-top: 40px;
}

@media (max-width: 440px) {
  .WeatherContainer {
    padding: 0;
    background: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border: none;
  }
}

@media (max-width: 670px) {
  .Weather {
    min-height: 0;
  }

  .WeatherContainer form {
    margin: 18px 0 0 0;
  }

  .WeatherContainer .SearchBar {
    max-width: 240px;
    height: 38px;
    font-size: 17px;
  }

  .WeatherContainer .SearchButton {
    max-width: 80px;
    height: 38px;
    font-size: 14px;
    background: white;
    color: black;
    border-radius: 5px;
  }

  .MaritzaFooter {
    display: none;
  }
}

@media (max-width: 810px) {
  .WeatherContainer .SearchBar {
    max-width: 595px;
    width: 75%;
  }
}
